@charset "UTF-8";
/**
 * @name CSS Oriented Attribute
 * @authors crlang (http://www.crlang.com)
 * @date    2017-07-12 15:40:18
 * @version 1.0
 */

/* z-index - visibilities */
.zi--1 { z-index: -1; }
.zi-0 { z-index: 0; }
.zi-1 { z-index: 1; }
.zi-2 { z-index: 2; }
.zi-3 { z-index: 3; }
.zi-4 { z-index: 4; }
.zi-5 { z-index: 5; }

.zi-97  { z-index:  97; }
.zi-98  { z-index:  98; }
.zi-99  { z-index:  99; }
.zi-100 { z-index: 100; }
.zi-101 { z-index: 101; }
.zi-102 { z-index: 102; }
.zi-103 { z-index: 103; }

.zi-997  { z-index:  997; }
.zi-998  { z-index:  998; }
.zi-999  { z-index:  999; }
.zi-1000 { z-index: 1000; }
.zi-1001 { z-index: 1001; }
.zi-1002 { z-index: 1002; }
.zi-1003 { z-index: 1003; }

.zi-king { z-index: 2147483647; }

/* Alignment - direction */
.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }
.ta-j { text-align: justify; }

/* Alignment - Position */
.fl-l { float: left; }
.fl-r { float: right; }
.fl-n { float: none; }

.cl-l { clear: left; }
.cl-r { clear: right; }
.cl-b { clear: both; }
.cl-n { clear: none; }

.va-m { vertical-align: middle; }
.va-t { vertical-align: top; }
.va-b { vertical-align: bottom; }
.va-tt { vertical-align: text-top; }
.va-tb { vertical-align: text-bottom; }
.va-sub { vertical-align: sub; }
.va-sup { vertical-align: super; }

.va-0  { vertical-align:  0%; }
.va-5  { vertical-align:  5%; }
.va-10 { vertical-align: 10%; }
.va-15 { vertical-align: 15%; }
.va-20 { vertical-align: 20%; }
.va-25 { vertical-align: 25%; }
.va-30 { vertical-align: 30%; }
.va-35 { vertical-align: 35%; }
.va-40 { vertical-align: 40%; }
.va-45 { vertical-align: 45%; }
.va-50 { vertical-align: 50%; }
.va-55 { vertical-align: 55%; }
.va-60 { vertical-align: 60%; }
.va-65 { vertical-align: 65%; }
.va-70 { vertical-align: 70%; }
.va-75 { vertical-align: 75%; }
.va-80 { vertical-align: 80%; }
.va-85 { vertical-align: 85%; }
.va-90 { vertical-align: 90%; }
.va-95 { vertical-align: 95%; }
.va-100 { vertical-align: 100%; }

.va--5  { vertical-align:  -5%; }
.va--10 { vertical-align: -10%; }
.va--15 { vertical-align: -15%; }
.va--20 { vertical-align: -20%; }
.va--25 { vertical-align: -25%; }
.va--30 { vertical-align: -30%; }
.va--35 { vertical-align: -35%; }
.va--40 { vertical-align: -40%; }
.va--45 { vertical-align: -45%; }
.va--50 { vertical-align: -50%; }
.va--55 { vertical-align: -55%; }
.va--60 { vertical-align: -60%; }
.va--65 { vertical-align: -65%; }
.va--70 { vertical-align: -70%; }
.va--75 { vertical-align: -75%; }
.va--80 { vertical-align: -80%; }
.va--85 { vertical-align: -85%; }
.va--90 { vertical-align: -90%; }
.va--95 { vertical-align: -95%; }
.va--100 { vertical-align: -100%; }

/* Padding - box inside */
.pd-a { padding: auto; }

.pdt-5  { padding-top:  5px; }
.pdt-10 { padding-top: 10px; }
.pdt-15 { padding-top: 15px; }
.pdt-20 { padding-top: 20px; }
.pdt-25 { padding-top: 25px; }
.pdt-30 { padding-top: 30px; }
.pdt-35 { padding-top: 35px; }
.pdt-40 { padding-top: 40px; }
.pdt-45 { padding-top: 45px; }
.pdt-50 { padding-top: 50px; }

.pdb-5  { padding-bottom:  5px; }
.pdb-10 { padding-bottom: 10px; }
.pdb-15 { padding-bottom: 15px; }
.pdb-20 { padding-bottom: 20px; }
.pdb-25 { padding-bottom: 25px; }
.pdb-30 { padding-bottom: 30px; }
.pdb-35 { padding-bottom: 35px; }
.pdb-40 { padding-bottom: 40px; }
.pdb-45 { padding-bottom: 45px; }
.pdb-50 { padding-bottom: 50px; }

.pdl-5  { padding-left:  5px; }
.pdl-10 { padding-left: 10px; }
.pdl-15 { padding-left: 15px; }
.pdl-20 { padding-left: 20px; }
.pdl-25 { padding-left: 25px; }
.pdl-30 { padding-left: 30px; }
.pdl-35 { padding-left: 35px; }
.pdl-40 { padding-left: 40px; }
.pdl-45 { padding-left: 45px; }
.pdl-50 { padding-left: 50px; }

.pdr-5  { padding-right:  5px; }
.pdr-10 { padding-right: 10px; }
.pdr-15 { padding-right: 15px; }
.pdr-20 { padding-right: 20px; }
.pdr-25 { padding-right: 25px; }
.pdr-30 { padding-right: 30px; }
.pdr-35 { padding-right: 35px; }
.pdr-40 { padding-right: 40px; }
.pdr-45 { padding-right: 45px; }
.pdr-50 { padding-right: 50px; }

/* Margin - box outside */
.mg-t { margin: auto; }

.mgt-5  { margin-top:  5px; }
.mgt-10 { margin-top: 10px; }
.mgt-15 { margin-top: 15px; }
.mgt-20 { margin-top: 20px; }
.mgt-25 { margin-top: 25px; }
.mgt-30 { margin-top: 30px; }
.mgt-35 { margin-top: 35px; }
.mgt-40 { margin-top: 40px; }
.mgt-45 { margin-top: 45px; }
.mgt-50 { margin-top: 50px; }

.mgb-5  { margin-bottom:  5px; }
.mgb-10 { margin-bottom: 10px; }
.mgb-15 { margin-bottom: 15px; }
.mgb-20 { margin-bottom: 20px; }
.mgb-25 { margin-bottom: 25px; }
.mgb-30 { margin-bottom: 30px; }
.mgb-35 { margin-bottom: 35px; }
.mgb-40 { margin-bottom: 40px; }
.mgb-45 { margin-bottom: 45px; }
.mgb-50 { margin-bottom: 50px; }

.mgl-5  { margin-left:  5px; }
.mgl-10 { margin-left: 10px; }
.mgl-15 { margin-left: 15px; }
.mgl-20 { margin-left: 20px; }
.mgl-25 { margin-left: 25px; }
.mgl-30 { margin-left: 30px; }
.mgl-35 { margin-left: 35px; }
.mgl-40 { margin-left: 40px; }
.mgl-45 { margin-left: 45px; }
.mgl-50 { margin-left: 50px; }

.mgr-5  { margin-right:  5px; }
.mgr-10 { margin-right: 10px; }
.mgr-15 { margin-right: 15px; }
.mgr-20 { margin-right: 20px; }
.mgr-25 { margin-right: 25px; }
.mgr-30 { margin-right: 30px; }
.mgr-35 { margin-right: 35px; }
.mgr-40 { margin-right: 40px; }
.mgr-45 { margin-right: 45px; }
.mgr-50 { margin-right: 50px; }

/* List - Style */
.lst-n { list-style-type: none; }
.lst-c { list-style-type: circle; }
.lst-d { list-style-type: decimal; }
.lst-dlz { list-style-type: decimal-leading-zero; }
.lst-lr { list-style-type: lower-roman; }
.lst-ur { list-style-type: upper-roman; }
.lst-la { list-style-type: lower-alpha; }
.lst-ua { list-style-type: upper-alpha; }

/* Display - area */
.dp-n { display: none; }
.dp-b { display: block; }
.dp-i { display: inline; }
.dp-t { display: table; }
.dp-f {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dp-g {
  display: -ms-grid;
  display: grid;
}
.dp-li { display: list-item; }
.dp-ib { display: inline-block; }
.dp-i { display: inline-table; }
.dp-i {
  display: -ms-inline-grid;
  display: inline-grid;
}
.dp-i {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.dp-tc { display: table-cell; }
.dp-tfg { display: table-footer-group; }
.dp-thg { display: table-header-group;}
.dp-tr { display: table-row; }
.dp-trg { display: table-row-group; }


/* Multi-column - area */
.cc-a {
  -webkit-column-count: auto;
  -o-column-count: auto;
  column-count: auto;
}
.cc-1 {
  -webkit-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
.cc-2 {
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
.cc-3 {
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}
.cc-4 {
  -webkit-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
.cc-5 {
  -webkit-column-count: 5;
  -o-column-count: 5;
  column-count: 5;
}

/* opcaity - appearance */
.op-0 { opacity:   0; }
.op-1 { opacity: 0.1; }
.op-2 { opacity: 0.2; }
.op-3 { opacity: 0.3; }
.op-4 { opacity: 0.4; }
.op-5 { opacity: 0.5; }
.op-6 { opacity: 0.6; }
.op-7 { opacity: 0.7; }
.op-8 { opacity: 0.8; }
.op-9 { opacity: 0.9; }
.op-10 { opacity: 1.0; }















































